.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-layout-flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: auto;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Quicksand, sans-serif;
  font-size: 50px;
  line-height: 1.2em;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Quicksand, sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
  text-transform: capitalize;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Quicksand, sans-serif;
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
}

a {
  color: #0077fc;
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}

strong {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}

.paragraph {
  width: 40%;
  padding-left: 30px;
}

.paragraph.white {
  width: auto;
  padding-left: 0px;
  color: #e2e2e2;
  font-size: 1em;
  font-weight: 300;
}

.section {
  position: static;
  left: 0px;
  top: 100%;
  right: 0px;
  bottom: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border: 1px none #000;
}

.section-contact {
  height: auto;
}

.section._60 {
  position: static;
  height: 95vh;
  margin-top: 0%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-width: 0px;
}

.section._60.footer {
  position: relative;
  z-index: 100;
  height: auto;
  margin-top: 0%;
  padding: 40px 5% 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
  border-top-width: 1px;
  border-top-color: #3dfbc2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(180deg, #000, #000);
}

.section.auto {
  position: static;
  height: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
}

.section.hero {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
  background-image: url('../images/Imac_Scene_Combined.0002.png'), -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: url('../images/Imac_Scene_Combined.0002.png'), linear-gradient(180deg, #0077fc, #0077fc);
  background-position: 100% 100%, 0px 0px;
  background-size: 60%, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, scroll;
}

.section.hero.home {
  background-color: #e2e2e2;
  background-image: none;
}

.section.video {
  padding-bottom: 25%;
}

.section.technologies {
  padding-bottom: 40px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/Technology-header_Technology-copy.png'), -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: url('../images/Technology-header_Technology-copy.png'), linear-gradient(180deg, #0077fc, #0077fc);
  background-position: 96% 85%, 0px 0px;
  background-size: 50%, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, scroll;
}

.section.solution {
  background-image: url('../images/Imac_Scene_Combined.0002.png'), -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: url('../images/Imac_Scene_Combined.0002.png'), linear-gradient(180deg, #0077fc, #0077fc);
  background-position: 100% 100%, 0px 0px;
  background-size: 70%, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, scroll;
}

.section.contact {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
}

.container {
  position: static;
  left: 5%;
  top: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.contactpage {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.herotext {
  margin-top: 10vh;
  width: 40%;
  margin-bottom: 2%;
  clear: none;

}

.herotext.home {
  width: 80%;
}

.container-2 {
  position: static;
  left: 2px;
  top: 100%;
  right: 2px;
  bottom: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-2.text {
  padding-top: 0px;
}

.grid-2 {
  grid-column-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  text-align: left;
}

.logoswrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 9999px;
  perspective: 9999px;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  -webkit-perspective: 9999px;
  perspective: 9999px;
}

.copy-wrap {
  width: 50%;
  margin-bottom: 0px;
}

.copy-wrap._70 {
  width: 60%;
  margin-top: 0px;
  padding: 40px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
}

.rich-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.benefits {
  width: 30%;
  position: relative;
  padding: 25px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.benefits:hover {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  box-shadow: 4px 4px 20px 5px rgba(0, 140, 255, .1);
  -webkit-transform: translate3d(0px, 0px, 930px);
  transform: translate3d(0px, 0px, 930px);
}

.whiteh2 {
  color: #fff;
  font-size: 1.9em;
}

.whiteh2.nomarg {
  margin-top: 0px;
  margin-bottom: 0px;
}

.notopmarg {
  margin-top: 0px;
}

.container-6 {
  position: static;
  left: 0px;
  top: 160%;
  right: 0px;
  bottom: 160%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
}

.html-embed {
  display: block;
  height: 100%;
  margin-top: -21px;
}

.hoveropen {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow: visible;
  padding: 25px;
  box-shadow: 4px 4px 20px 5px rgba(0, 119, 252, .1);
  opacity: 0;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  height: 640px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.hoveropen:hover {
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  opacity: 1;
}

.hoveropen > a{
  align-self: flex-end;
}

.w-dropdown-link:hover {
  color: #0077fc;
}

.logocont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  -webkit-perspective: 9999px;
  perspective: 9999px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.logocont:hover {
  box-shadow: 1px 1px 10px 0 rgba(235, 79, 79, .5);
  -webkit-transform: translate3d(0px, 0px, 250px);
  transform: translate3d(0px, 0px, 250px);
}

.logohight {
  max-height: 55px;
}

.background-video-2 {
  position: relative;
  z-index: 1;
}

.herotextwraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 43%;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-right: 0%;
  padding-left: 0%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-block-3 {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
}

.navbar-2 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e2e2e2));
  background-image: linear-gradient(180deg, #e2e2e2, #e2e2e2);
}

.brand-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu-2 {
  font-family: Quicksand, sans-serif;
}

.section-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
}

.whiteheading {
  color: #fff;
}

.whiteparagraph {
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.whiteparagraph.small {
  font-size: 12px;
  line-height: 18px;
  text-indent: 0px;
}

.whiteparagraph.small.bullets {
  line-height: 24px;
}

.div-block-7 {
  margin-bottom: 20px;
  text-align: center;
}

.whitecont {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 40px 40px 80px;
  border-radius: 27px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 0 20px 0 rgba(0, 119, 252, .3);
}

.whitecont.flexhoriz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._75 {
  width: 75%;
  margin-bottom: 20px;
}

.image {
  margin-bottom: 20px;
}

.section-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-16 {
  margin-top: 0px;
  text-align: center;
}

.text-span {
  color: #0077fc;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

.subsbenefits {
  font-family: Roboto;
  font-weight: 400;
}

.section-6 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
}

.container-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 23%;
  margin-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-14 {
  width: 45%;
  margin-right: 40px;
}

.div-block-15 {
  width: 45%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.pricing {
  width: 40%;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

.table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.leftcolumn {
  width: 50%;
  margin-top: 10px;
}

.rightcolumn {
  width: 50%;
  margin-top: 10px;
  text-align: right;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pricingheader {
  padding: 20px 40px 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
  text-align: center;
}



.section-7 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e2e2e2));
  background-image: linear-gradient(180deg, #e2e2e2, #e2e2e2);
}


.yellowbutton {
  padding-right: 30px;
  padding-left: 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc304), to(#ffc304));
  background-image: linear-gradient(180deg, #ffc304, #ffc304);
  box-shadow: 0 2px 5px 0 #5f5f5f;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Quicksand;
  color: #5f5f5f;
}

.yellowbutton:hover {
  box-shadow: 0 10px 20px 0 rgba(95, 95, 95, .61);
}

.text-block-5 {
  font-family: Roboto;
  line-height: 24px;
  font-weight: 300;
}

.yes {
  font-family: Roboto;
  color: #0077fc;
  line-height: 24px;
  font-weight: 300;
}

.yes.community {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #5f5f5f;
}

.bluebutton {
  position: absolute;
  left: 40px;
  bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 5px;
  background-color: #0077fc;
  box-shadow: 0 1px 5px 0 #5f5f5f;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Quicksand;
}

.bluebutton:hover {
  box-shadow: 0 1px 5px 0 #5f5f5f, 0 10px 20px 0 rgba(95, 95, 95, .47);
}

.greenbutton {
  position: static;
  right: 40px;
  bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3dfbc2), to(#3dfbc2));
  background-image: linear-gradient(180deg, #3dfbc2, #3dfbc2);
  box-shadow: 0 2px 5px 0 rgba(95, 95, 95, .3);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Quicksand;
  color: #5f5f5f;
}

.greenbutton:hover {
  box-shadow: 0 5px 20px 0 rgba(95, 95, 95, .2);
}

.greenbutton.absolute {
  position: absolute;
  font-family: Quicksand;
}

.solutiondropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contright {
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.flexitem50 {
  width: 50%;
  padding: 20px;
}

.headingflex100 {
  width: 100%;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-2 {
  padding: 6px 9px 6px 0px;
}

.image-3 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.image-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.div-block-20 {
  width: 50%;
}

.container-12 {
  text-align: center;
}

.div-block-21 {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.container-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.techbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 #e2e2e2;
}

.section-8 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-9 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222230), to(#222230));
  background-image: linear-gradient(180deg, #222230, #222230);
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.section-10 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-11 {
  padding-top: 39px;
  padding-bottom: 39px;
}

.section-12 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3dfbc2), to(#3dfbc2));
  background-image: linear-gradient(180deg, #3dfbc2, #3dfbc2);
}

.section-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/header.png'), -webkit-gradient(linear, left top, left bottom, from(#3dfbc2), to(#3dfbc2));
  background-image: url('../images/header.png'), linear-gradient(180deg, #3dfbc2, #3dfbc2);
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, scroll;
}

.div-block-24 {
  width: 50%;
}

.text-span-2 {
  color: #5f5f5f;
}

.paragraph-3 {
  color: #5f5f5f;
}

.section-14 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.div-block-25 {
  width: 70%;
}

.dropwraper {
  overflow: hidden;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.image-5 {
  padding: 20px 20px 20px 0px;
}

.smaller {
  font-size: 12px;
  font-weight: 300;
}

.droptech {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e2e2e2));
  background-image: linear-gradient(180deg, #e2e2e2, #e2e2e2);
}

.droptexttech {
  font-family: Roboto;
  font-weight: 400;
}

.droptrigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.dropcontent {
  overflow: hidden;
  padding-right: 12px;
  padding-left: 12px;
}

.techdroptext {
  font-size: 14px;
  line-height: 20px;
}

.container-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.valueprop {
  width: 50%;
  padding: 29px;
}

.section-15 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .95)), to(hsla(0, 0%, 100%, .95)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95));
}

.image-6 {
  margin-bottom: 20px;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footersocial {
  margin-right: 12px;
  padding: 5px;
}

.footerlink {
  margin-left: 20px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  font-family: Quicksand;
  color: #fff;
}

.footerlink:hover {
  color: #3dfbc2;
}

.footerlink:active {
  color: #ffc304;
}

.navlink {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.selected{
  color: #0077fc;
}


.navlink:hover {
  color: #0077fc;
}

.utility-page-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.image-7 {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.heading-17 {
  position: static;
  z-index: 1;
}

.text-block-7 {
  position: static;
}

.div-block-29 {
  position: relative;
  z-index: 2;
  width: 280px;
  height: 200px;
}

.on {
  color: #0077fc;
}

.formwraper {
  width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.form {
  margin-top: 5%;
  width: 50%;
  font-family: Quicksand;
  color: #3dfbc2;
  font-weight: 300;
}

.text-field {
  margin-bottom: 20px;
  border-radius: 5px;
}

.bold-text-yellow {
  color: #ffc304;
}

.container-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.office {
  width: 28%;
}

.heading-18 {
  margin-top: 0px;
  margin-right: 30px;
}

.officewrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.officeblue {
  color: #0077fc;
}

.officeimg {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.officeimg:hover {
  -webkit-filter: none;
  filter: none;
}

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (max-width: 991px) {
  h1 {
    font-size: 28px;
    line-height: 33px;
  }
  .section.hero {
    background-image: url('../images/Imac_Scene_Combined.0002.png'), -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
    background-image: url('../images/Imac_Scene_Combined.0002.png'), linear-gradient(180deg, #0077fc, #0077fc);
    background-position: 100% 100%, 0px 0px;
    background-size: 60%, auto;
    background-repeat: no-repeat, repeat;
  }
  .section.hero.home {
    height: auto;
  }
  .section.technologies {
    height: auto;
  }
  .section.solution {
    background-image: url('../images/Imac_Scene_Combined.0002.png'), -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
    background-image: url('../images/Imac_Scene_Combined.0002.png'), linear-gradient(180deg, #0077fc, #0077fc);
    background-position: 100% 56px, 0px 0px;
  }
  .section.contact {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .div-block-24 a.yellowbutton{
    margin-bottom:20px
  }

  .greenbutton{
    margin-bottom: 25px;
  }

  .container {
    height: 80%;
    margin-top: 8%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .herotext {
    width: 70%;
  }
  .grid-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-column-gap: 6px;
    grid-template-areas: ". . .";
  }
  .copy-wrap {
    width: 100%;
  }
  .copy-wrap._70 {
    width: 100%;
  }
  .rich-text-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .benefits {
    z-index: 3;
    width: 100%;
    margin-bottom: 80px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .benefits._2 {
    z-index: 4;
  }
  .benefits._1 {
    z-index: 5;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }


  .herotextwraper {
    width: 50%;
  }
  .div-block-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .div-block-12 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-13 {
    width: 47%;
  }
  .pricing {
    width: 40%;
  }

  .valueprop {
    width: 100%;
    text-align: center;
  }
  .footersocial {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  .formwraper {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section._60.footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .section.hero {
    z-index: 0;
    height: 85vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
    background-image: linear-gradient(180deg, #0077fc, #0077fc);
  }
  .section.technologies {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
    background-image: linear-gradient(180deg, #0077fc, #0077fc);
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .section.solution {
    background-image: url('../images/Imac_Scene_Combined.0002.png'), -webkit-gradient(linear, left top, left bottom, from(null), to(null));
    background-image: url('../images/Imac_Scene_Combined.0002.png'), linear-gradient(180deg, null, null);
    background-size: 80%, auto;
  }
  .container.contactpage {
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: center;
  }
  .herotext {
    width: 100%;
    padding-left: 10px;
  }
  .benefits._1 {
    z-index: 5;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .hoveropen {
    overflow: scroll;
    height: 213px;
  }

  .div-block-5 {
    padding-left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .div-block-6 {
    width: 100%;
  }
  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-bottom: 0px;
  }
  .div-block-8.inner {
    display: none;
  }
  .section-6 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-13 {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-11 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .pricing {
    width: 100%;
    margin-bottom: 20px;
  }
  .contright {
    width: 100%;
  }
  .flexitem50 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-19 {
    padding-right: 20px;
    padding-left: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-20 {
    width: 100%;
  }
  .container-13 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .techbox {
    width: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .div-block-24 {
    width: 100%;
  }
  .footerlink {
    margin-left: 0px;
  }
  .image-8 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .container-15 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-16 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .container-17 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .office {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .officeimg {
    margin-right: 10px;
  }
}

@media (max-width: 479px) {
  .section {
    position: static;
  }

  .section.hero.home{
    height: auto;
  }

  div.container > div.herotext{
    margin-top: 25px;
  }

  .greenbutton{
    margin-bottom: 20px;
  }

  .section._60.footer {
    height: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section.hero {
    height: 95vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/Cloudify-Identity_01.png'), -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e2e2e2));
    background-image: url('../images/Cloudify-Identity_01.png'), linear-gradient(180deg, #e2e2e2, #e2e2e2);
    background-position: 50% 50%, 0px 0px;
    background-size: 250%, auto;
    background-attachment: fixed, scroll;
  }

  .section.technologies {
    height: auto;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section.solution {
    height: 100vh;
    padding-top: 25%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: url('../images/Imac_Scene_Combined.0002.png'), -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
    background-image: url('../images/Imac_Scene_Combined.0002.png'), linear-gradient(180deg, #0077fc, #0077fc);
    background-position: 50% 100%, 0px 0px;
    background-size: 80%, auto;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, scroll;
  }
  .section.contact {
    padding-top: 60px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .container {
    display: block;
    margin-top: 0%;
  }
  .herotext {
    width: 100%;
  }

  .grid-2 {
    -ms-grid-rows: 1fr auto auto;
    grid-template-rows: 1fr auto auto;
  }
  .logoswrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .grid-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .copy-wrap._70 {
    width: 100%;
  }
  .benefits._1 {
    z-index: 5;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .html-embed {
     display: none;
  }

  .div-block-5 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .div-block-6 {
    margin-bottom: 40px;
  }
  .text-block-3 {
    display: none;
  }
  .whiteparagraph {
    font-size: 16px;
  }
  ._75 {
    width: 100%;
  }
  .div-block-8 {
    width: 100%;
    padding: 0px;
  }
  .div-block-11 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-13 {
    padding: 4px 40px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .div-block-14 {
    width: 100%;
    margin-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .bluebutton {
    left: 20px;
  }
  .greenbutton.absolute {
    right: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 119, 252, .2);
  }
  .greenbutton.absolute:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 119, 252, .2);
  }
  .flexitem50 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-19 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-21 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container-13 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .techbox {
    width: 100%;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .div-block-22 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-24 {
    width: 100%;
  }
  .image-6 {
    margin-bottom: 0px;
  }
  .office {
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .officeimg {
    margin-right: 0px;
  }
}

#w-node-ba433ff862dc-e0da457f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-2b2734349802-e0da457f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b8fff1a43c72-e0da457f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-f3ff50f97f35-e0da457f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6571a56d4108-e0da457f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-5bbcb548374d-e0da457f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-1c5d4edc03ed-e0da457f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-2a0353698354-e0da457f {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-6bd8498c2f1b-e0da457f {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-d5c4a1ede744-e0da457f {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-561a649365e8-e0da457f {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-115e2739cab2-e0da457f {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-6989652723c0-e0da457f {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-2f1d14cd8dfb-e0da457f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-a545bcb2512b-e0da457f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-896ebfab501e-e0da457f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

.hbspt-form > form > div {
  margin-bottom: 15px;
}

.hbspt-form > form > div > .hs-richtext{
  color:white;
}

.form .hs-input::-webkit-input-placeholder{
  color: transparent;
}

.inputs-list .hs-form-booleancheckbox .hs-form-booleancheckbox-display {
  color:white;
}

.hs-form-ffc81e97-5bd8-4d81-a993-fd0df7a8ae6a_dcab9246-0b81-46ba-a783-cd42c1797ad4 label{
  color:white;
}

.hs-form-checkbox > label > span{
  color:white;
}

.hbspt-form > form > div > label > span  {
  font-family: Quicksand;
  color: #3dfbc2;
  font-weight: 300;
  font-size: 15px;
}

.hbspt-form > form > div > .input > input {
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 20px;
  padding: 5px 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.legal-consent-container .hs-richtext{
  font-family: Roboto;
}

.form .hbspt-form > form .hs_submit .actions > input {
  position: static;
  right: 40px;
  bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #3dfbc2, #3dfbc2);
  box-shadow: 0 2px 5px 0 rgba(95, 95, 95, .3);
  transition: all 350ms ease;
  font-family: Quicksand;
  color: #5f5f5f;
  display: inline-block;
  background-color: #3898EC;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight:300;

}

.hs-form-required{
  display: none;
}

.comparetable{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 10px;
}

.tablecolumn{
  width: 24%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 10px 15px 0 rgba(0, 119, 252, .2);
  text-align: center;
}

.keyfeatures{
  width: 25%;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.text-block-5{
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  line-height: 24px;
  font-weight: 300;
}

.tablecolumntitle{
  padding: 10px 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
}

.tablesecondarytitle{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tablesecondarytitle.gray{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e2e2e2));
  background-image: linear-gradient(180deg, #e2e2e2, #e2e2e2);
}

.tablesecondarytitle.green{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3dfbc2), to(#3dfbc2));
  background-image: linear-gradient(180deg, #3dfbc2, #3dfbc2);
}

.tablesecondarytitle.yellow{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc304), to(#ffc304));
  background-image: linear-gradient(180deg, #ffc304, #ffc304);
}

.tableheading{
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.tablesub {
  color: #fff;
}

.investorslogowrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.investor {
  width: 25%;
  padding: 10px;
  text-align: center;
}

.container-18 {
  padding-bottom: 20px;
}

.text-block-8 {
  text-align: center;
}

.link {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.partnerslogowrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.partnerlogo {
  width: 25%;
  padding: 20px;
}

.partnerlogo.communityflex {
  width: 33%;
  padding: 40px;
}

.partnerlogo.information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #0077fc;
  border-left: 1px solid #e2e2e2;
}

.partnerlogo.underline {
  border-bottom: 1px solid #0077fc;
}

.container-19 {
  padding-bottom: 20px;
}

.partnersdivider {
  margin-top: 10px;
}

.image-9 {
  padding: 0;
}

.image-10 {
  padding: 0px;
}

.sidebar {
  position: fixed;
  left: 0px;
  bottom: 50px;
  padding: 24px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0077fc), to(#0077fc));
  background-image: linear-gradient(180deg, #0077fc, #0077fc);
  box-shadow: 10px 0 15px 0 rgba(95, 95, 95, .3);
}

/*--------Header menu--------*/

.navbar-2 .container-8{
  min-height: 60px;
}

.nav-menu-2 div .menu{
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: outside none none;
}

div .menu li {
  padding: 20px;
  text-decoration: none;
}


div .menu .menu-item a {
  color:#222222;
  text-decoration: none;
}

div .menu .menu-item a:hover{
  color: #0077fc;
  transition: all 350ms ease;
}

.menu .menu-item .sub-menu{
  display: block;
  position: absolute;
  background: #dddddd;
  min-width: 100%;
  margin-top: 20px;
  padding-left: 0px;
}

.menu-item .sub-menu .menu-item{
  list-style: outside none none;
  padding: 0px;
}
.sub-menu .menu-item a{
  padding: 10px ;
  display: block;
  color: #222222;
}

.menu .menu-item-has-children{
  position: relative;
}

.menu .menu-item-has-children:after{
  font-family: FontAwesome;
  font-weight: 900;
  content: "\f107";
  padding: 4px;
  color: #222222;
}


.menu .menu-item-has-children .sub-menu{
  display: none;
  padding-left: inherit;
  padding-right: inherit;
  position: absolute;
  left: 0;
  right: 0;
  min-width: max-content;
}

div .menu .menu-item-has-children .sub-menu-open{
   display:block;
}


/*-----Footer Menu------*/

.div-block-5 div .menu {
  display: flex;
  list-style: outside none none;
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.div-block-5 div .menu li a {
  color: #fff;
  transition: all 350ms ease;
}

.div-block-5 div .menu li a:hover{
  color:#3dfbc2;
}

.solutiondropdown .flexitem50 {
   width: 50%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.solutiondropdown .flexitem50 img{
   min-height: 93px;
}

div.container > div.herotext {
   margin-top: 45px;
   align-self: flex-start;
}

.hs-form-field .input .inputs-list li {
   float: left;
   width: 50%;
}

@media (pointer:coarse){
  .html-embed .section {
    position: static;
    height: auto;
    margin-top: 0%;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-width: 0px;
  }

  .hoveropen{
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    overflow: visible;
    padding: 25px;
    box-shadow: 4px 4px 20px 5px rgba(0, 119, 252, .1);
    opacity: 1;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .w-layout-flex .benefits:hover,
  .benefits._1:hover,
  .benefits._2:hover
  {
    max-height: inherit;
  }

  .benefits{
     max-height: 160px;
      overflow: hidden;
   }

  .benefits h4{
    min-height: 60px;
  }

  .w-nav .container-8 .w-nav-menu{
    display: none;
  }

  .nav-menu-2 div .menu{
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-2 .container-8 .w-nav-button{
    display: flex;
  }

  @media (min-width: 1281px) {
    .navbar-2 .container-8 .w-nav-button {
      display: none;
    }

    .w-nav .container-8 .w-nav-menu {
      display: flex;
    }

    .nav-menu-2 div .menu {
      flex-direction: row;
    }
  }
}

.heading-16 a {
  margin-top: 20px;
}

.hd-search{
  padding: 0 0 0 20px;
}

.search-form{
  display: flex;
}

.search-form input{
  padding: 10px 20px;
  height: 35px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #cccccc;
  transition: all 0.8s ease;
  font-family: Quicksand, sans-serif;
  background-color:#ffffff;
  border-width: 0;
  border-style: none;
}

.search-form input:active{
  box-shadow: none;
  border-radius: 10px 0 0 10px;
}

.search-form input:focus{
  box-shadow: none;
  border-radius: 10px 0 0 10px;
  outline: 0;
}

.search-form button{
  border-radius: 0 10px 10px 0;
  border-width: 0;
  border-style: none;
  background-color: #ffffff;
  padding: 0 10px 0 10px;
}

.search-form button i {
  color: #0077fc;
}

.customize-support .navbar-2 .container-8{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: -webkit-fill-available;
}

.customize-support .navbar-2 .container-8 .brand-2{
  display: flex;
  align-items: center;
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
  flex: none;
}

.container-8.w-container {
  align-items: center;
}

@media (pointer:coarse){
  @media (max-width: 479px){
    html, body {
      margin:0;
      padding:0;
      width:100%;
      overflow: auto;
    }
    body .html-embed{
      display: block;
    }
    body .section{
      margin-top: 60px;
      padding-bottom: 0px;
    }

    .herotextwraper{
      width: 100%;
    }

    .herotextwraper p{
      width: 39%;
    }

    .section-5{
      height: auto;
    }

    .div-block-10{
      padding: 80px 20px;
    }

    .customize-support .html-embed #set-height{
      display: none;
    }
    .customize-support .html-embed{
       display: block;
    }
    .navbar-2 .container-8{
       display: flex;
      align-items: center;
    }
    .container-8 .brand-2 {
      max-width: 45%;
      padding: 0px;
      margin-left: 0px;
    }
    .container-8 .hd-search{
      max-width: 35%;
      padding: 0 0 0 0px;
    }
    .container-8 .hd-search form input {
      width: 100%;
    }
    .customize-support .section{
      margin-top: 60px;
      padding-bottom: 0;
    }
    .footer .div-block-5 div .menu {
      padding-left: 0px;
      display: flex;
      flex-direction: column;
    }
    .div-block-5 div .menu li{
      padding: 10px 20px;
    }
}
  @media (max-width: 991px){
     body.customize-support .navbar-2 .container-8{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: fit-content;
        max-width: 728px;
    }
    .navbar-2 .container-8 a {
        flex:none;
        margin-right:auto;
    }
    .container-8 .hd-search{
        padding: 0;
        max-width: 35%;
    }
    .container-8 .hd-search form,
    .container-8 .hd-search form input{
        width: 100%;
    }
}
  @media (min-width: 992px){
    body.customize-support .navbar-2 .container-8{
      align-items: center;
      justify-content: flex-end;
    }
    div.w-nav .container-8 .w-nav-menu{
      display:block;
    }
    div.navbar-2 .container-8 .w-nav-button{
      display: none;
    }
    nav.nav-menu-2 div .menu{
      flex-direction: row;
    }
    .navbar-2 .container-8 a{
      margin-right: auto;
    }
    .navbar-2 .container-8 .hd-search{
      width: fit-content;
      max-width: 20%;
    }
    .container-8 .hd-search form input{
      width: 100%;
    }
}
  @media (min-width: 1281px){
    .customize-support .navbar-2 .container-8{
      align-items: center;
      justify-content: center;
      max-width: 75%;
    }
    .navbar-2 .container-8 a {
      flex:none;
      margin-right: auto;
    }
    .navbar-2 .container-8 .nav-menu-2{
      width: fit-content;
    }
    .navbar-2 .container-8 .hd-search{
      width: fit-content;
      max-width: 20%;
    }
    .nav-menu-2 div{
      width: fit-content;
    }
    div .menu li{
      padding: 20px 15px;
    }
    .hd-search form input{
      width: 100%;
    }
}
  @media (max-width: 380px){
    .hd-search .search-form input{
      padding: 10px;
    }
  }
}

.customize-support .navbar-2 .container-8 {
    justify-content: space-between;
    max-width: fit-content;
    min-width: 940px;
}

.menu-item-has-children:hover{
  cursor:pointer;
}

