.content-area {
	
	width: $size__site-main;
	@media screen and (min-width: 780px){
		float: right;
	margin: 0 0 0 (-$size__site-sidebar);
	}
}

.site-main {
	@media screen and (min-width: 780px){

		margin: 0 0 0 $size__site-sidebar;
	}
}

.site-content .widget-area {
	
	overflow: hidden;
	@media screen and (min-width: 780px){
		// float: left;
		// width: $size__site-sidebar;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}
 
@import "no-sidebar";
