.social{
	// margin:1rem auto;
	text-align: center;
	svg{
		width: 24px;
		height: 24px;
		display: inline-block;
		margin:0 5px;
	}
	a{
		margin: 0 10px;
	}
}
header .social
{
	// display: inline-block;
	@media (max-width:37.5em){
	top: 65px;
    text-align: left;
    position: absolute;
    left: 0;
	}
    margin-right: 3rem;
    
	a{
		margin:.5rem 	  1rem;
		@include font-size(3);
	}
} 