button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;			
	color: #ffffff;
	text-decoration: none;
	@include font-size(1.5);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
		background: $color__background-button-hover;
	}
	&.tablinks:hover,
	&.hamburger:hover {
		border-color: none;
		background: none;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
.home-btn{
	margin:2rem auto;
	display: block;
    text-align: center;
    max-width: 300px;

	@media screen and(min-width: 37.5em){
		display: none;
	}
	&:visited{
		color: #ffffff;
	}
}