input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 0px;
	padding: 3px;
	width: 100%;
	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="search"], {
	width:auto;
}

form.wpcf7-form {
	direction: rtl;
}


fieldset{
	border:none;
}
.steps {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	p{
		flex-grow: 1;
		text-align: center;
		
		@media (min-width: 37.5em){
			text-align: left;
			margin-top:0;
		}
		
	}
	div{
		border-radius:50%;
		width: 32px;
		height: 32px;
		border:1px solid $color__yellow;
		text-align:center;
		margin-left: 4rem;
		position:relative;
		
		&:after{
			@include pseudo;
			height:1px;
			width: 4rem;
			background-color:$color__yellow;
			left:-4rem;
			top: 50%;
		}
		&:nth-child(3):after{
			display: none;
		}
		&.current_step{
			background-color:$color__yellow;
		}
	}
}
.wpcf7-form{
	h3{
		font-weight: 400;
	}
	p{
		@media (min-width: 37.5em){
			position: relative;
			display: flex;
		}
	}
	div{
		width: 100%;
		max-width: 700px;
		margin:auto;
	}
	label{
		
		&.big{
			@include font-size(2.5);
			font-weight: 700;
			
			@media (min-width: 37.5em){
				width: 50%;
			}
		}
		&.jbold{
			font-weight: 700;
			display: block;
		}
	}
	span.wpcf7-list-item{
		margin: 0 0em 0 0;
		@media (min-width: 37.5em){
			margin: 0 -1em 0 0;
		}
		
	}
	.wpcf7-list-item-label{
		display: none;
	}
	.cf7mls_next,input[type="submit"]{
		// float: left;
		position: relative;
	    right: calc(100% - 150px);
	}
	.cf7mls_next.action-button, .cf7mls_back.action-button,input[type="submit"]{
		background-color: $color__yellow;
		color: $color__black;
		font-weight: 700;
		@include font-size(2);
		border-radius:0;
		border-color:$color__yellow;
	}
	.wpcf7-mail-sent-ok{
		display: none!important;
	}


	
}
.successMessage{
	display: none;
	text-align: center;
	&.displayed{
		display: block;
		.path {
			&.circle {
				-webkit-animation: dash .9s ease-in-out;
				animation: dash .9s ease-in-out;
			}
			&.line {
				-webkit-animation: dash .9s .35s ease-in-out forwards;
				animation: dash .9s .35s ease-in-out forwards;
			}
			&.check {
				-webkit-animation: dash-check .9s .35s ease-in-out forwards;
				animation: dash-check .9s .35s ease-in-out forwards;
			}
		}
	}
	svg{
		stroke:$color__yellow;
		width: 60px;
		display: block;
		margin: 40px auto 0;

	}
	.path {
		stroke-dasharray: 1000;
		stroke-dashoffset: 0;

		&.line {
			stroke-dashoffset: 1000;
		}
		&.check {
			stroke-dashoffset: -100;
		}
	}

}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}

@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}

