h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__secondary;
}
h1{
	@include font-size(5,1.2);
}
h2{
	@include font-size(2.4,1.2);
}
h1,h2{
	margin-bottom: 2rem;
}
h3{
	@include font-size(2,1.2);
	font-style: normal;
	font-weight: 900;
}
h4{
	@include font-size(1.8,1.2);
	font-style: normal;
	font-weight: 700;
}
h5{
	@include font-size(1.6,1.2);
}
h6{
	@include font-size(1.4,1.2);
}

@media (min-width:37.5em){
	h1{
		@include font-size(10,1.2);
	}
	h2{
		@include font-size(4,1.2);
	}
	h3{
		@include font-size(2.8,1.2);
	}
	h4{
		@include font-size(2.4,1.2);
	}
	h5{
		@include font-size(1.8,1.2);
	}
	h6{
		@include font-size(1.6,1.2);
	}
}


