html {
  // font-size: 71.42%;
  font-size: 62.5%; /* Sets up the Base 10 stuff */
  // @media screen and(min-width:37.5em){
		// font-size: 62.5%;
	// }
}
html,
body{
	overflow-x: hidden;
}
body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text_screen;
	font-family: $font__main;
	@include font-size(1.8);
	line-height: $font__line-height-body;
}
.text-green{
	color: $color__green;
}
@import "headings";

@import "copy";


.small-p, small{
	@include font-size(1.4);
}
.big-p, big{
	@include font-size(2);
}
.highlighted-text {
	font-weight: 700;
}
.colored-text {
	color:$color__blue;
}
.box-shadow{
	box-shadow:  -1px 1px 7px 0px rgba($color__primary,.35);
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
