html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
.post-thumbnail img {
	width:100%;
	max-width: auto;
	display: block;
}
figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}
.float-right {
    float: right!important;
}
.float-left {
    float: left!important;
}
@import "tables";
@import "tabs";


.tooltip {
    display:inline-block;
    position:relative;
    // border-bottom:1px dotted #666;
    span.tp_trigger{
    	text-align:center;
    	font-size: 12px;
	    display: inline-block;
	    width: 16px;
	    height: 16px;
	    line-height: 16px;
    	background-color:rgb(128,128,128);
    	color: #fff;
    	border-radius:50%;
    	cursor: pointer;
    }
}

.tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#fff;
    background-color:rgb(128,128,128);
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:rgb(128,128,128);
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}