.tabs{
	border-bottom:$color__border-input;
	margin-bottom: 1rem;
	.tab{
		text-align:center;
		cursor:pointer;
		&.active,
		&:hover{
			background-color: $color__border-input;
			color:#ffffff;
		}
		outline:1px solid $color__border-input;
		padding: .5rem;
	}
}

/* Style the tab */
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.ntab {
    overflow: hidden;


    display: flex;
    align-items:flex-end;
    button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 1rem;
        border-radius:0;
        transition: 0.3s;
        border-bottom: 1px solid transparent;
        text-align: right;
        &.active {
            border-bottom: 1px solid $color__blue;
            
            background: none;
            color:$color__green;
            h2{
                color:$color__green;
            }
        }
        h2{
            // @include font-size(1);
            // @media screen and(min-width: 600px){
            //     @include font-size(1.5);
            // }
        }

        &:nth-child(2) svg{
            fill:$color__yellow;
        }
        &:nth-child(3) svg{
            fill:$color__blue;
        }
    }
}

/* Change background color of buttons on hover */
.ntab button

/* Create an active/current tablink class */
.ntab button.active {
    // background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    // border: 1px solid #ccc;
    // border-top: none;
}