$color__blue:#003FC6;
$color__green:#00AD51;
$color__yellow:#FCDA2F;

$color__primary:$color__blue;

$color__secondary:$color__yellow;

$color__white:#ffffff;
$color__black:#000000;
$color__light_grey:#E6E6E6;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__blue;
$color__background-button-hover: $color__green;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer:$color__yellow;




$color__text-screen: #000000;

$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__green;
$color__link-visited: $color__link;
$color__link-hover: $color__blue;
$color__text-main: #777777;
$color__text-footer:$color__text-main;

$color__border-button: $color__link;
$color__border-button-hover: $color__link-hover;
$color__border-button-focus: $color__link;
$color__border-input: $color__black;
$color__border-abbr: $color__link;


