@import url('https://fonts.googleapis.com/css?family=Alef:400,700|Assistant:400,800');
$font__main: 'Alef', sans-serif;
$font__secondary: 'Assistant', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;