.main-navigation {

  // clear: both;
  // display: block;
  // float: left;
  // width: 100%;

  // width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-right: 0;

    ul {
      @media screen and (min-width: 37.5em) {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        float: left;
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;
        margin: 0;
        background: #fff;
      }

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        @media screen and (min-width: 37.5em) {
          width: 200px;
        }
        color: $color__black;

      }

      :hover > a,
      .focus > a {
        color: $color__black;
      }
      a:hover,
      a.focus {
        color: $color__black;
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    display: block;
    // text-align: center;
    margin: 0.5rem 1rem;

    @media (min-width: 37.5em) {
      // display: inline-block;
      margin: 0;
    }
    position: relative;
    a {
      transition: 0.3s linear;
      border-bottom: 1px solid transparent;
      padding: 1rem 2rem;
        text-align: center;
        border:1px solid $color__black;
        background-color:transparent;
    }

    &:hover > a,
    &.focus > a {
      // border-bottom: 1px solid $color__black;
    }
    &.focus ul {
      display: block;
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $color__black;
    @include font-size(1.8);
  }
  a:hover,
  a.focus {
    color: $color__black;
  }
  



}

/* Small menu. */
.main-navigation ul {
  display: none;
  padding-right: 1rem;
}
.main-navigation.toggled ul.menu {
  display: block;
}
.menu-toggle {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
}
@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px;
    
  }
  .main-navigation ul.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .main-navigation ul.nav-menu {
    margin-top: 20px;
  }
  .nav-menu {
    > li {
      > a {
        
        transition: all .2s linear;
        &:hover,
        &.active{
          border:1px solid $color__yellow;
          background-color:$color__yellow;
        }
      }
      &:last-child{
        background-color:$color__light_grey;
      }
    }
  }
}
@media (max-width: 37.5em) {
  .menu-item-has-children {
    > a:after {
      @include css-triangle($color__blue, down, 7px, absolute, false);
      left: 1rem;
      top: 0rem;
      transition: all 0.3s linear;
    }
    &.focus {
      > a:after {
        transform: rotate(-180deg);
      }
    }
  }
  .main-navigation{
    margin-bottom: 2rem;
    a{
      max-width: 40%;
      margin: 0 auto;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

.sub-menu {
  padding-top:10px;
  li a {
    margin: 8px 0;
    @include font-size(1.3);
  }
}
.menu-footer-container ul.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-top:30px;
    a{
      color: $color__black;
      text-decoration: none;
    }
  }